<form class="form-horizontal">
    <h3>{{ _('Mote Colours') }}</h3>
    <div class="control-group">
        <label class="control-label">{{ _('Mote Type') }}</label>
        <div class="controls">
            <input type="test" class="input" data-bind="value: settings.plugins.mote_lighting_control.mote_type" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Manual Lighting Colour') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.manual_colour">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-toggle="tooltip" data-bind="checked: settings.plugins.mote_lighting_control.on_events, tooltip: {}" title="{{ _('When enabled allows Mote lights to change with OctoPrint state.') }}" /> {{ _('Change lights on Events.') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('On OctoPrint Startup') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.startup_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Printer Connected') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.connect_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Printer Disconnected') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.disconnect_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('File Uploaded') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.upload_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Active Printing') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.printing_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Print Finished') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.done_colour">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Error') }}</label>
        <div class="controls"><input type="color" class="input" data-bind="value: settings.plugins.mote_lighting_control.error_colour">
        </div>
    </div>
</form>
